<% layout('layouts/boilerplate') %>
  <main>
    <section id="manage">
      <div class="container" id="parent">

        <div class="jumbotron m-3">
          <h1 class="display-4">Manage Lists</h1>
          <p class="lead">View, Edit, Update Or Delete List</p>
          <a class="btn btn-primary btn-lg" href="/lists/new" role="button">Add New List <i class="fas fa-plus"></i></a>

          <form action="/lists" method="GET" id="manage-form" class="homepage-search my-3">
            <input class="form-control" name="list[promo1]" type="text" placeholder="Promo One" aria-label="default input example">
            <input class="form-control" name="list[promo2]" type="text" placeholder="Promo Two" aria-label="default input example">
            <input class="form-control" name="list[promo3]" type="text" placeholder="Promo Three" aria-label="default input example">
            <select id="remark" name="list[remark]" required>
              <option value="Outstanding">Outstanding</option>
              <option value="Excellent">Excellent</option>
              <option value="Very good">Very good</option>
            </select>
            <input class="form-control" type="number" step="0.01" max="10" id="rating" name="list[rating]" placeholder="0.0">
            <button type="submit" class="btn btn-primary">Search</button>
            <a class="btn" href="/lists">View All List</a>
          </form>
        </div>
      </div>
    </section>

    <section id="list">
      <div class="container">
        <div class="list-content" id="list-record">
          <% for (let list of lists) { %>

            <div class="row">
              <div class="list-details">
                <div class="brand">
                  <a href="#"><img src="<% if (typeof list.logo[0] !== 'undefined') { %>
                    <%= list.logo[0].url %>
                    <% } else { %>
                      
                    <%= '' %>
                    <% } %>" alt="Wix logo"></a>
                </div>
                <div class="brand-info">
                  <ul>
                    <li>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <span> Please vote!</span>
                    </li>
                    <li>
                      <i class="fas fa-cog"></i>
                      <%= list.promo1.substring(0, 28) %>..
                    </li>
                    <li>
                      <i class="fas fa-cog"></i>
                      <%= list.promo2.substring(0, 28) %>..
                    </li>
                    <li>
                      <i class="fas fa-cog"></i>
                      <%= list.promo3.substring(0, 28) %>..
                    </li>
                  </ul>
                </div>
                <div class="brand-rating">
                  <ul>
                    <li>
                      <%= list.rating %>
                    </li>
                    <li>
                      <%= list.remark %>
                    </li>
                  </ul>
                </div>
                <div>
                  <a class="btn" target="_blank" href="<%= list.link %>">Visit Site <i
                      class="fas fa-angle-double-right"></i></a>
                </div>

                <div id="edit-delete-btn">
                  <a class="btn edit" href="/lists/<%= list._id %>"> <i class="fas fa-angle-double-right"></i></a>
                  <% if (currentUser && list.author.equals(currentUser._id)) { %>
                    <a class="btn edit" href="/lists/<%= list._id %>/edit"> <i class="fas fa-edit"></i></a>
                    <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                      <input type="hidden" name="deleteImage[]" value="<%if(typeof list.logo[0] !== 'undefined'){ %><%=list.logo[0].filename%><% }else{ %> <%=''%> <% }%>">
                      <button type="submit" class="btn delete"> <i class="fas fa-trash-alt"></i></button>
                    </form>
                    <% } %>
                </div>

              </div>
              <div class="show-more">
                <a href="#"><i class="fas fa-angle-down"></i></a>
              </div>
            </div>

            <% } %>
        </div>
      </div>
    </section>
  </main>