<% layout('layouts/boilerplate') %> 
  <!-- <main id="front-page">

    Separator
    <section class="separator">
      <div class="container">
        <p><i class="fas fa-arrow-down"></i> We recommend</p>
        <div>
          <p>We receive referral fees</p>
          <a href="#">Advertiser Disclosure</a>
        </div>
      </div>
    </section> -->

    <!-- Brand List -->
    <section id="list">
      <div class="container">
        <div class="list-content">

        <!-- PAGINATION SHOW OPTION -->
        <% if (count > 5) { %> 
          <% if (pages > 0) { %>
            <ul class="pagination pagination-homepage text-center">
              <div class="show-input-group">
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                  <form id="show-pagination-form" action="/" method="GET">
                    <select class="form-select" name="perPage" id="limit" aria-label="Example select with button addon">
                      <option value="<%= limit %>" selected>Show...</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                    </select>
                    <button type="submit" class="show-btn btn-outline-secondary">OK</button>
                  </form>
              </div>
            </ul>
          <% } %> 
        <% } %> 
        <!-- END OF PAGINATION SHOW OPTION -->

          <% for (let list of lists) { %>
          <div class="row">
            <div class="list-details">
              <div class="brand">
                <a href="#"><img src="<% if (typeof list.logo[0] !== 'undefined') { %>
                  <%= list.logo[0].url %>
                  <% } else { %>
                    
                  <%= '' %>

                  <% } %>" alt="Wix logo"></a>
              </div>
              <div class="brand-info">
                <ul>
                  <li>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span> Please vote!</span>
                  </li>
                  <li>
                    <i class="fas fa-cog"></i> <%= list.promo1.substring(0, 28) %>..
                  </li>
                  <li>
                    <i class="fas fa-cog"></i> <%= list.promo2.substring(0, 28) %>..
                  </li>
                  <li>
                    <i class="fas fa-cog"></i> <%= list.promo3.substring(0, 28) %>..
                  </li>
                </ul>
              </div>
              <div class="brand-rating">
                <ul>
                  <li><%= list.rating %></li>
                  <li><%= list.remark %></li>
                </ul>
              </div>
              <div>
                <a class="btn" href="<%= list.link %>" target="_blank">Visit Site <i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="show-more">
              <a href="#"><i class="fas fa-angle-down"></i></a>
            </div>
          </div>
          <% } %>

        <!-- PAGINATION -->
        <% if (count > 5) { %> 
            <% if (pages > 0) { %>
              <ul class="pagination pagination-homepage text-center">
                  <% if (current == 1) { %>
                      <li class="disabled page-item"><a class="page-link">First</a></li>
                  <% } else { %>
                      <li class="page-item"><a class="page-link" href="/?page=1&perPage=<%= limit %>">First</a></li>
                  <% } %>
                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                  <% if (i !== 1) { %>
                      <li class="disabled page-item"><a class="page-link">...</a></li>
                  <% } %>
                  <% for (i; i <= (Number(current) + 4) && i <= pages; i++) { %>
                      <% if (i == current) { %>
                          <li class="page-item active"><a class="page-link"><%= i %></a></li>
                      <% } else { %>
                        <li class="page-item"><a href="/?perPage=<%= limit %>&page=<%= i %>" class="page-link"><%= i %> </a></li>
                      <% } %>
                      <% if (i == Number(current) + 4 && i < pages) { %>
                          <li class="disabled page-item"><a class="page-link">...</a></li>
                      <% } %>
                  <% } %>
                  <% if (current == pages) { %>
                    <li class="disabled page-item"><a class="page-link">Last</a></li>
                  <% } else { %>
                    <li class="page-item"><a class="page-link" href="/?perPage=<%= limit %>&page=<%= pages %>">Last</a></li>
                  <% } %>
              </ul>
          <% } %>
        <% } %> 
      <!-- END OF PAGINATION -->

        </div>
        <aside>
          <a href="#"><img src="/images/sidebar-img.jpg" alt="Sidebar banner"></a>
        </aside>
      </div>
    </section>

    <section id="webpage-info">
      <div class="container">
        <div>
          <h2>Helping you build a website</h2>
          <p>Do you want to create a website, but don’t have coding experience? We provide thorough comparisons of the
            most popular and successful website builders. Take a look at our analyses - we’ve pooled our experts’
            knowledge to help you decide which website builder will meet your particular needs.</p>
        </div>

        <div>
          <h2>Building your website</h2>
          <p>You may not be a web designer or a professional coder - that’s where website builders come in. They
            facilitate the process of creating a website, making it accessible to everyone, regardless of your
            programming know-how. Using website builders’ streamlined and premade templates and themes, you can easily
            launch a professional website.</p>
        </div>

        <div>
          <h2>Choosing a website builder</h2>
          <p>What kind of website do you want to create? A personal website might have a cleaner, simpler design, while
            an online store requires a different set of strategies and resources. We are here to walk you through these
            decisions and provide tips to help you make the best decision.</p>
        </div>
      </div>
    </section>
  </main>